# This template file is stored at
# [GitHub Gist](https://gist.github.com/gautada/3a0a4a76d3c7e4539e71fc02c7f599ad)

# XCode - Project files 
*.xcodeproj/

# Desktop Services Store - Custom view preferences
.DS_Store

# **Volume Folders** are used in development to set runtime data, usuaully 
# this is private data and should almost **NEVER** be loaded into version
# control
**-volume/

# **Manifest Folder** is the k8s yaml files that deploy the container, usually
# this folder is sourced from a private repository and should not be public.
manifest/

# `.dockerignore` file allows you to specify a list of files or directories 
# that Docker is to ignore during the build process. To create jusr
# symlink to this files `ln -s .gitignore .dockerignore`
.dockerignore

.env
.flake8
.hadolint.yaml
.htmlhintrc
.jscpd.json
.markdownlint.yaml
.pre-commit-config.yaml
.sqlfluff
.yamllint.yaml
